<h1 class="text-center" style="font-family: broadway;">{{title}}</h1>
<nav class="navbar navbar-expand-lg bg-light">
	<div class="container-fluid">
		<a class="navbar-brand link-dark" outerLinkActive="active" routerLink="employees">
      <i class="bi bi-house"></i>
    </a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
			aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarScroll">
			<ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
				<li class="nav-item">
					<a class="btn btn-outline-success" routerLinkActive="active" routerLink="add-employee">
            <i class="bi bi-person-add"></i>
          </a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<div class="container-fluid">
	<div class="row">
		<div class="col">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>
